@import "./components/Weather.scss";
@import "./components/Location.scss";
@import "./components/ForecastCard.scss";
@import "./components/LoadingCard.scss";
.app {
  background: linear-gradient(
    233deg,
    #f5f8fa,
    #00acee,
    #36d8ff,
    #f9aa8b,
    #36d8ff
  );

  background-size: cover;
  background-position: bottom;
  &.dark {
    background: linear-gradient(
      233deg,
      #f5f8fa,
      #00212e,
      #05151ab0,
      #f5f8fa,
      #474949ce
    );
  }
  main {
    min-height: 100vh;

    padding: 25px;
    transition: background 0.5s ease-in;
  }
}
