.forecast {
  flex-direction: row;
  justify-content: center;
  &.weather-container {
    .weather-card {
      min-width: 200px;
      .date,
      .temp,
      .weather {
        font-size: 1rem;
        text-shadow: none;
      }
    }
  }
}
