.weather-container {
  &.loading {
    margin-top: 20px;

    .animate {
      animation: shimmer 2s infinite;
      background: linear-gradient(
        to right,
        #eff1f3 4%,
        #e2e2e2 25%,
        #eff1f3 36%
      );
      background-size: 1000px 100%;
    }
    .location-container {
      min-width: 150px;
      min-height: 20px;
      border: 2px solid #fff;

      box-shadow: 0px 0px 10px 0 #a9a9a9;
    }
    .weather-card {
      min-height: 300px;
      min-width: 300px;
      justify-content: normal;
      .date {
        min-width: 150px;
        height: 20px;

        border: 2px solid #fff;
        box-shadow: 0px 0px 10px 0 #a9a9a9;
      }
      .temp {
        min-width: 150px;
        margin-top: 20px;
        height: 50px;
        border: 2px solid #fff;
        box-shadow: 0px 0px 10px 0 #a9a9a9;
      }
      .img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0px 0px 10px 0 #a9a9a9;
      }
      .weather {
        min-width: 150px;
        margin-top: 30px;
        min-height: 20px;
        border: 2px solid #fff;
        box-shadow: 0px 0px 10px 0 #a9a9a9;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
