.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .weather-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    margin: 30px;
    padding: 15px 25px;
    color: #fff;
    .date {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      font-style: italic;
      text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    }
    .temp {
      position: relative;
      display: inline-block;
      font-size: 80px;
      font-weight: 700;
      text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
      text-align: center;
    }
    .weather {
      font-size: 48px;
      font-weight: 700;
      text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    }
  }
}
